<!-- Breadcrumb End -->
<!-- Blog Area Start -->
<div class="blog-area off-white-bg pb-50">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-12">
                <div class="section-title text-center ptb-50">
                    <h3 class="section-info">ALL LATEST BLOGS</h3>
                </div>
            </div>
            <!-- Section Title End -->
        </div>
        <!-- Row End -->
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <!-- Single Blog Start -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a asp-action="details" asp-controller="blogs" asp-route-id="5"><img src="~/assets/img/blog/4.jpg" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-content-upper">
                            <h6 class="blog-title"><a asp-action="details" asp-controller="blogs" asp-route-id="5">Amber Interiors</a></h6>
                            <p>Interior designer Amber Lewis’s blog takes you inside the creative workings of her Los Angeles–based studio.</p>
                        </div>
                        <div class="blog-content-lower">
                            <a href="https://themeforest.net/user/hastech">Hastech</a>
                            <span class="f-right">05 Nov, 2017</span>
                        </div>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- Single Blog Start -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="~/assets/img/blog/3.jpg" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-content-upper">
                            <h6 class="blog-title"><a href="blog-details.html">Coco Lapine Design</a></h6>
                            <p>Interior designer Amber Lewis’s blog takes you inside the creative workings of her Los Angeles–based studio.</p>
                        </div>
                        <div class="blog-content-lower">
                            <a href="https://themeforest.net/user/hastech">Hastech</a>
                            <span class="f-right">05 Nov, 2017</span>
                        </div>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- Single Blog Start -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="~/assets/img/blog/5.jpg" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-content-upper">
                            <h6 class="blog-title"><a href="blog-details.html">Style by Emily Henderson</a></h6>
                            <p>The list wouldn’t be complete without the ever-stylish blog of interior design extraordinaire Emily Henderson.</p>
                        </div>
                        <div class="blog-content-lower">
                            <a href="https://themeforest.net/user/hastech">Hastech</a>
                            <span class="f-right">16 Aug, 2017</span>
                        </div>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- Single Blog Start -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="~/assets/img/blog/3.jpg" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-content-upper">
                            <h6 class="blog-title"><a href="blog-details.html">Amber Interiors</a></h6>
                            <p>Interior designer Amber Lewis’s blog takes you inside the creative workings of her Los Angeles–based studio.</p>
                        </div>
                        <div class="blog-content-lower">
                            <a href="https://themeforest.net/user/hastech">Hastech</a>
                            <span class="f-right">05 Nov, 2017</span>
                        </div>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- Single Blog Start -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="~/assets/img/blog/4.jpg" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-content-upper">
                            <h6 class="blog-title"><a href="blog-details.html">Style by Emily Henderson</a></h6>
                            <p>Interior designer Amber Lewis’s blog takes you inside the creative workings of her Los Angeles–based studio.</p>
                        </div>
                        <div class="blog-content-lower">
                            <a href="https://themeforest.net/user/hastech">Hastech</a>
                            <span class="f-right">05 Nov, 2017</span>
                        </div>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- Single Blog Start -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="~/assets/img/blog/3.jpg" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-content-upper">
                            <h6 class="blog-title"><a href="blog-details.html">Coco Lapine Design</a></h6>
                            <p>Interior designer Amber Lewis’s blog takes you inside the creative workings of her Los Angeles–based studio.</p>
                        </div>
                        <div class="blog-content-lower">
                            <a href="https://themeforest.net/user/hastech">Hastech</a>
                            <span class="f-right">05 Nov, 2017</span>
                        </div>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- Single Blog Start -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="~/assets/img/blog/5.jpg" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-content-upper">
                            <h6 class="blog-title"><a href="blog-details.html">Coco Lapine Design</a></h6>
                            <p>Interior designer Amber Lewis’s blog takes you inside the creative workings of her Los Angeles–based studio.</p>
                        </div>
                        <div class="blog-content-lower">
                            <a href="https://themeforest.net/user/hastech">Hastech</a>
                            <span class="f-right">05 Nov, 2017</span>
                        </div>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- Single Blog Start -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="~/assets/img/blog/3.jpg" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-content-upper">
                            <h6 class="blog-title"><a href="blog-details.html">Amber Interiors</a></h6>
                            <p>Interior designer Amber Lewis’s blog takes you inside the creative workings of her Los Angeles–based studio.</p>
                        </div>
                        <div class="blog-content-lower">
                            <a href="https://themeforest.net/user/hastech">Hastech</a>
                            <span class="f-right">05 Nov, 2017</span>
                        </div>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- Single Blog Start -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="~/assets/img/blog/4.jpg" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-content-upper">
                            <h6 class="blog-title"><a href="blog-details.html">Coco Lapine Design</a></h6>
                            <p>Interior designer Amber Lewis’s blog takes you inside the creative workings of her Los Angeles–based studio.</p>
                        </div>
                        <div class="blog-content-lower">
                            <a href="https://themeforest.net/user/hastech">Hastech</a>
                            <span class="f-right">05 Nov, 2017</span>
                        </div>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
        </div>
        <!-- Row End -->
        <div class="row">
            <div class="col-12">
                <ul class="blog-pagination ptb-20">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
                <!-- End of .blog-pagination -->
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Blog Area End -->
<!-- Signup Newsletter Start -->
<div class="newsletter blog-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="main-news-desc">
                    <div class="news-desc">
                        <h3>Sign Up For <span>Newsletters</span></h3>
                        <p>Get e-mail updates about our latest shop and special offers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="newsletter-box">
                    <form action="#">
                        <input class="subscribe" placeholder="Enter your email address" name="email" id="subscribe" type="text">
                        <button type="submit" class="submit">subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section breadcumb {
    <div class="breadcrumb-area ptb-50">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a asp-action="index" asp-controller="home">Home</a></li>
                    <li class="active"><a href="contact.html">Blogs</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
}
