<div class="col-md-9 d-none d-md-block">
    <!-- Header Middle Menu Start -->
    <div class="middle-menu">
        <nav>
            <ul class="middle-menu-list">
                <li><a asp-action="index" asp-controller="home">home</a></li>
                <li><a asp-action="index" asp-controller="About">about us</a></li>
                <li><a asp-action="index" asp-controller="contact">contact us</a></li>
                <li><a asp-action="index" asp-controller="blogs">blogs</a>
                </li>
                <li>
                    <a asp-action="index" asp-controller="shop">
                        shop
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Header Middle Menu End -->
</div>