@using BigonApp.Business.Modules.CategoryModules.Queries.CategoryGetById
@model CategoryGetByIdDto

<div class="card">
    <div class="card-header">
        <h5>Category info</h5>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Parent Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Name</td>
                        <td>@Model.ParentName</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<a class="btn btn-light" asp-action="index" asp-controller="categories">Back</a>
<a class="btn btn-warning" asp-action="update" asp-controller="categories" asp-route-id="@Model.Id">Update</a>
